################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/demo programmer/**/bin/*
/demo programmer/**/obj/*
**/.vs/*

**/desktop.ini


