################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/demo programmer/**/bin/*
/demo programmer/**/obj/*
#/demo programmer/simpelPBMcs/.vs/*
**/.vs/*


#demo programmer/simpelPBMcs/.vs/simpelPBMcs/v15/.suo
